<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="showH1">
        All of ur saved notes
    </h1>
    <div class="container">
       <% for(let note of notes){ %>

        <div class="block">
            <h3 class="noteH4">
                <%=note.heading%>
            </h3>
            <div class="noteDiv">
                <%=note.text%>
            </div>
            <div class="btn-group ">
                <form action="all/<%=note._id%>/view" class="btn">
                    <button class="btn">show</button>
                </form>

                <form action="all/<%=note._id%>/edit" method="get"  class="btn">
                    <button class="btn">edit</button>
                </form>

                <form action="all/<%=note._id%>/delete?_method=DELETE" method="post"  > 
                    <button class="btn">delete</button>
                </form>

            </div>
        </div>
       
<br>
     <%  } %>


     <form action="/all/new" method="get" class="add-btn btn">
        <button>+</button>
     </form>
    </div>
    



</body>
</html>